<div class="row py-2">
    <div class="inline-block mx-2" style="width: 3em;">
        <img class="border rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB12CRxcmCAshHDbmp05IADKm4UonCDi3yEA&usqp=CAU" alt="dp" style="height: 2.5em; width: 2.5em;">
    </div>
    <div class="col ">
        User Nickname
    </div>
    <div class="col ">
        <div align="right">
            <button class="btn" data-bs-toggle="collapse" data-bs-target="#searchChat" attr.aria-controls='searchChat'>
                <i class="bi bi-search"></i>
            </button>
            <button class="btn">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
        </div>
    </div>
</div>