<div class="row py-2">
    <div class="inline-block mx-2" style="width: 3em;">
        <div class="rounded-circle border border-info" style="width: 3em; height: 3em; overflow: hidden;">
            <img   [src]="'data:image/jpeg;base64,'+ dp" alt="dp" style="width: 3em; height: 3.5em;"/>
        </div>
    </div>
    <div class="col m">
        <h5 class="m-0 mt-2 p-0">
            {{name}}
        </h5>
    </div>
    <div class="col ">
        <div align="right">
            <button class="btn" data-bs-toggle="collapse" data-bs-target="#searchChat" attr.aria-controls='searchChat'>
                <i class="bi bi-search"></i>
            </button>
            <button class="btn">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
        </div>
    </div>
</div>