<div class="row py-2">
    <div class="col">
        <img class="border rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB12CRxcmCAshHDbmp05IADKm4UonCDi3yEA&usqp=CAU" alt="dp" style="height: 2.5em; width: 2.5em;">
    </div>
    <div class="col">
        <div align="right">
            <button class="btn">
                <i class="bi bi-chat-text-fill"></i>
            </button>
            <button class="btn">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
        </div>
    </div>
</div>
