<div class="row py-2 flex-nowrap">
    <div class="inline-block mx-2" style="width: 3em;">
        <button class="p-0 rounded-circle border border-info" style="width: 2.5em; height: 2.5em; overflow: hidden;" data-bs-toggle = "collapse" data-bs-target=".profile" attr.aria-controls="userProfile chatMenu">
            <img   [src]="'data:image/jpeg;base64,'+ dp" alt="dp" style="width: 2.5em; height: 3em;"/>
        </button>
    </div>
    <div class="col">
        <div align="right">
            <button class="btn" data-bs-toggle = "collapse" data-bs-target=".contacts" attr.aria-controls="chatContacts chatMenu" (click)="toggleFirstColumn()">
                <i class="bi bi-chat-text-fill"></i>
            </button>
            <button class="btn">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
        </div>
    </div>
</div>
