<div class="row py-2 flex-nowrap">
    <div class="inline-block mx-2" style="width: 3em;">
        <button class="p-0 rounded-circle border border-info" style="width: 2.5em; height: 2.5em; overflow: hidden;" data-bs-toggle = "collapse" data-bs-target=".profile" attr.aria-controls="userProfile chatMenu">
            <img   [src]="'data:image/jpeg;base64,'+ dp" alt="dp" style="width: 2.5em; height: 3em;"/>
        </button>
    </div>
    <div class="col">
        <div class="" align="right">
            <button class="btn" data-bs-toggle = "collapse" data-bs-target=".contacts" attr.aria-controls="chatContacts chatMenu" (click)="toggleFirstColumn()">
                <i class="bi bi-chat-text-fill"></i>
            </button>
            <span class="dropdown" style="">
                <button class="btn " type="button" id="chatToolDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="" >
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu shadow" aria-labelledby="chatToolDropdown" style="">
                    <li *ngFor="let action of actions" (click)= "action.callback({})"><a class="dropdown-item">{{action.name}}</a></li>
                </ul>
            </span>
            
        </div>
    </div>
</div>
